main{
  max-width: 1000px;
  width: 100%;
  background-color: #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 50px auto;
}

ul{
  list-style: none;
}
li{
  font-size: 20px;
}
li:not(:first-of-type){
  margin-top: 10px;
}
main.test{
  background-color: aqua;
}
#scrollvalue{
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  font-size: 20px;
  background-color: #ccc;
}